/* input::placeholder{
     transition: transform 0.3s ease;
}
input:hover::placeholder,
input:focus::placeholder {
  transform: translateY(-10px);
} */
/* input:hover{
    border: 1px solid red;
} */

/* button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
button{
    background-color: red;
} */
input::placeholder{
  font-size: 13px;
}